
.game {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.game-container {
    display: grid;
    grid-template-rows: repeat(3, 20vh);
    grid-template-columns: repeat(3, 20vh);

}

.box {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.box:hover{
background-color: rgb(235, 213, 255);
}

.boxtext {
    font-size: 10vh;
}

.game-info {
    padding: 10vh 10vh;
}

.button {
    background-color: red;
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
  
    margin-top: 5vh;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.heading{
    text-align: center;
}

.board{
    background-color: red;
}